<h1>Number Converter 3000</h1>

<% if @number.present? %>
  <p>In base <%= @base %>:
  <%= number_to_base(@number, @base) %></p>
<% end %>

<%= form_with(local: true) do |f| %>
  <div>
    <%= f.label :number, 'Enter your number:' %>
    <%= f.text_field :number, value: @number %>
  </div>

  <div>
    <%= f.label :base, 'Convert to base:' %>
    <%= f.text_field :base, value: @base %>
  </div>

  <%= f.button 'Convert' %>
<% end %>
